@model Quiz

<div class="row" style="border: 2px black solid; padding: 10px; margin-bottom: 20px;">
    <h3>@Model.Name</h3>
    <hr />
    <p style="margin-bottom:10px; font-family: cursive;">@Model.Description</p>
    <div style="font-weight: bold;">@Model.NumOfQuestions</div>
</div>