@using QuizApp.ViewModels
@model QuizApp.ViewModels.QuizViewModel

<h1>Questions</h1>

<div class="d-flex justify-content-center mt-5">
    <div class="w-75">
        @* @{
            var question = Model.QuestionViewModels.ElementAt(0) as FillInTheBlankViewModel;
            var questionNum = question!.QuizQuestionNum;
        } *@
        <h3 class="mb-4">Question @Model.QuestionViewModels.Count</h3>

        <form asp-controller="Quiz" asp-action="NextQuestion" method="post">

            @* @{
                var question = Model.QuestionViewModels.ElementAt(Model.CurrentQuestionNum) as FillInTheBlankViewModel;
                var vd = new ViewDataDictionary(ViewData);
                vd.TemplateInfo.HtmlFieldPrefix = $"QuestionViewModels[{Model.CurrentQuestionNum}]";
            }

            <partial name="_FillInTheBlankCard" model="question" view-data="vd" /> *@

            <button type="submit" class="btn btn-primary me-2">Next</button>
        </form>
    </div>
</div>