@model QuizApp.Models.FillInTheBlank

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn. com/bootstrap/3.0.3/css/bootstrap.min. css">
    <title>QuizApp</title>
</head>
<body>
    <div class="container">
        <h1>@ViewBag.CurrentViewName</h1>
        <h3>Question:</h3>
        <p>@Model.Question</p>
        <h3>Answer:</h3>
        <p>@Model.Answer</p>
    </div>
</body>
</html>
