@model QuizApp.ViewModels.QuestionsViewModel

<h1>List of questions</h1>

<div class="row row-cols-1 g-4">
    <form asp-action="Questions" method="post">
        @for (int i = 0; i < @Model.Questions.Count(); i++) 
        {
            QuizApp.ViewModels.FillInTheBlankViewModel? question = @Model.Questions.ElementAt(i);
            <partial name="_FillInTheBlankCard" model="question" view-data='new ViewDataDictionary(ViewData) { ["prefix"] = $"Questions[{i}]" }'/>
        }
        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-action="Create" class="btn btn-secondary">Add question</a>
    </form>
</div>