
.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading, .fetch-error {
  font-size: 50px;
}

/* NavMenu */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid rgb(39, 39, 39);
}

.nav-items {
  display: flex;
  flex-direction: row;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80px;
  height: 60px;
  color: black;
  text-decoration: none;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1;
  background-color: white;
  position: relative;
}

.nav-item.active {
  background-color: rgb(234, 234, 234);
}

.nav-item:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
  user-select: none;
}

.nav-home {
  font-weight: 600;
}

.login {
  display: flex;
}

.dropdown {
  display: flex;
  flex-direction: column;
  height: 122px;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.dropdown > *:not(:last-child) {
  border-bottom: 2px solid rgb(222, 222, 222);
}


/* Fill in the blank */

/* General buttons */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 75px;
  margin: 15px;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  background-color: rgb(203, 203, 203);
}

.add-button {
  color: rgb(255, 255, 255);
  background-color: rgb(36, 205, 55);
}

.primary-button {
  color: rgb(227, 227, 227);
  pointer-events: none;
  background-color: rgb(135, 195, 255);
}

.primary-button.active {
  color: rgb(255, 255, 255);
  background-color: rgb(38, 146, 253);
  pointer-events: all;
}

.delete-button {
  color: white;
  background-color: red;
}

.nav-button {
  background-color: rgb(255, 136, 123);
  color: white;
}


/* Testside */

.test-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}