/* Flash card quizzes */

.flash-card-quiz-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flash-card-quiz-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px rgb(172, 172, 172) solid;
  border-radius: 25px;
  box-shadow: 3px 3px 10px gray;
  width: 375px;
  height: 325px;
  box-sizing: border-box;
  margin: 10px;

  transition: transform 0.1s ease-in-out;
}

.flash-card-quiz-card:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.flash-card-quiz-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  font-size: 25px;
  text-align: center;
}

.flash-card-quiz-description {
  border: 3px solid gray;
  border-radius: 20px;
  background-color: rgb(235, 235, 235);
  height: 175px;
  width: 325px;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
}

.flash-card-quiz-description-top-bar {
  background-color: rgb(197, 197, 197);
  width: 100%;
  height: 45px;
  margin: 0;
}

.flash-card-quiz-description h5 {
  margin: 0 0 1em 1em;
  padding-top: 7px;
  text-align: start;
  color: rgb(92, 92, 92);
  font-size: 20px;
}

.flash-card-quiz-description p {
  font-size: 20px;
  color: rgb(143, 143, 143);
  font-weight: bold;
  flex: 1;
  height: 5.5em;
  overflow-y: auto;
  margin: 10px 22px 0 22px;
  text-align: start;
}

/* Flash card */

.flash-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flash-card {
  display: flex;
  width: 700px;
  height: 450px;
  border: 3px solid gray;
  border-radius: 25px;

  justify-content: center;
  align-items: center;

  user-select: none;

  position: relative;
}

.flash-card:hover {
  cursor: pointer;
}

.flash-card-QA-label {
  position: absolute;
  top: 0;
  left: 30px;
}