/* Flash card quizzes */

.quizzes-page h1 {
  display: flex;
  align-items: center;
}

.flash-card-quiz-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flash-card-quiz-entry {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flash-card-quiz-more-button {
  border: none;
  background-color: transparent;
  color: rgb(89, 89, 89);
}

.flash-card-quiz-more-button svg {
  font-size: 45px;
}

.flash-card-quiz-card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 5px rgb(172, 172, 172) solid;
  border-radius: 25px;
  box-shadow: 3px 3px 10px gray;
  width: 1050px;
  height: 125px;
  box-sizing: border-box;
  margin: 10px;
  overflow: hidden;
  background-color: white;

  transform-origin: right center;
  transition: transform 0.2s ease-in-out;
}

.flash-card-quiz-card.show-options {
  transform: translateX(-200px);
}

.flash-card-quiz-card:hover {
  cursor: pointer;
}

.flash-card-quiz-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  font-size: 25px;
  text-align: center;
  margin-left: 40px;
}

.flash-card-quiz-description {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 500px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
}

.flash-card-quiz-description p {
  font-size: 18px;
  color: rgb(124, 124, 124);
  flex: 1;
  overflow-y: auto;
  text-align: start;
}

.flash-card-quiz-options {
  position: absolute;
  top: 10px;
  right: 94px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 250px;
  height: 125px;
  box-sizing: border-box;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 0;
  background-color: gray;
}

.flash-card-quiz-options:hover {
  cursor: pointer;
}

.flash-card-quiz-options svg {
  font-size: 35px;
  color: white;
}

.flash-card-quiz-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  background-color: gray;
}

.flash-card-quiz-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  background-color: red;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.create-flash-card-quiz-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50px;
  right: 50px;
  width: 150px;
  height: 75px;
  box-shadow: 1px 1px 5px gray;

  border: none;
  border-radius: 10px;
}

.create-flash-card-quiz-button svg {
  font-size: 40px;
}

.create-flash-card-quiz-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
}

.create-flash-card-quiz-popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 800px;
  height: 600px;
  border: 3px solid gray;
  border-radius: 25px;
  box-sizing: border-box;
}

.create-flash-card-quiz-popup-content .input-name {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: 60px;
  font-weight: 500;
  margin: 50px;
}

.create-flash-card-quiz-popup-content .input-name input {
  width: 400px;
  height: 50px;
  font-size: 25px;
  border: 2px solid rgb(202, 202, 202);
  border-radius: 8px;
}

.create-flash-card-quiz-popup-content .input-description {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: 40px;
  font-weight: 500;
  margin: 50px;
}
.create-flash-card-quiz-popup-content .input-description textarea {
  justify-content: start;
  align-items: start;
  width: 400px;
  height: 100px;
  font-size: 20px;
  resize: none;
  box-sizing: border-box;
  overflow-wrap: break-word;
  white-space: pre-wrap;

  border: 2px solid rgb(202, 202, 202);
  border-radius: 8px;
}

.popup-button {
  width: 150px;
  height: 75px;
  margin: 0 25px 0 25px;
  font-size: 25px;
  border: none;
  border-radius: 10px;
}

.delete {
  color: white;
  background-color: red;
}

.confirm-delete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.confirm-delete-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 600px;
  height: 400px;
  border: 3px solid gray;
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
}

/* Flash card */

.flash-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.flash-card-sidebar {
  position: absolute;
  top: 91px;
  left: -200px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 455px;
}

.flash-card-page-description {
  border: 3px solid gray;
  border-radius: 25px;
  background-color: rgb(226, 226, 226);
  padding: 0 15px 15px 15px;
  margin-bottom: 80px;
  color: rgb(78, 78, 78);
}

.flash-card-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 13px;

  border: 3px solid gray;
  border-radius: 15px;
  background-color: rgb(235, 235, 235);
}

.flash-card-menu-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flash-card-menu p {
  margin: 0 30px 0 30px;
  font-size: 30px;
}

.flash-card-menu button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 95px;

  border: 5px solid rgb(77, 77, 252);
  border-radius: 6px;
  background-color: rgb(88, 127, 255);
  color: rgb(255, 247, 247);

  user-select: none;

  font-size: 18px;
}

.shuffle-button:hover {
  cursor: pointer;
}

.shuffle-button svg {
  font-size: 30px;
}

.flash-card-menu button svg {
  font-size: 45px;
}

.flash-card {
  width: 700px;
  height: 450px;

  transform: translateX(25vw);
  opacity: 0;

  animation: slideInRight 0.1s ease-out forwards;

  user-select: none;
  perspective: 1000px;
}

@keyframes slideInRight {
  from {
    transform: translateX(25vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.flash-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
  border-radius: 25px;
}

.flash-card-inner.flipped {
  transform: rotateX(180deg);
}

.flash-card-front,
.flash-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 3px solid gray;
  border-radius: 25px;
  box-shadow: 3px 3px 10px gray;
}

.flash-card-back {
  transform: rotateX(180deg);
}

.flash-card h3 {
  width: 600px;
  font-size: x-large;
}

.flash-card:hover {
  cursor: pointer;
}

.flash-card-QA-label {
  position: absolute;
  top: 0;
  left: 35px;
  font-size: x-large;
}

.flash-card-page-info-icon {
  position: absolute;
  bottom: 50px;
  right: 60px;
  padding: 10px;
}

.flash-card-info-card {
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: start;
  border: 2px solid gray;
  border-radius: 30px;
  width: 250px;
  height: 200px;
  padding: 20px;
  user-select: none;

  transition: ease-in-out 0.2s;
  pointer-events: none;
}

.flash-card-page-info-icon svg:hover + .flash-card-info-card {
  opacity: 1;
}

.flash-card-page-info-icon svg {
  font-size: 50px;
  color: rgb(50, 50, 50);
}

.info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(65, 65, 65);
}

.key-info {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;
}

.keyboard-key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid gray;
  border-radius: 5px;
}

.keyboard-key svg {
  font-size: 30px;
}

/* Manage Flash Card Quiz */
/* Inspiration taken from Quizlet */

.flash-card-quiz-details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 10px 40px 10px 40px;
}

.flash-card-quiz-details h1 {
  font-size: 35px;
  font-weight: 500;
}

.flash-card-quiz-details h2 {
  font-size: 25px;
  font-weight: 450;
  color: rgb(83, 83, 83);
}

.flash-card-entry-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flash-card-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 1100px;
  height: 80px;
  padding: 15px;
  border-top: 1px solid rgb(232, 232, 232);
  border-bottom: 1px solid rgb(232, 232, 232);
  background-color: rgb(252, 252, 252);
}

.flash-card-entry-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 900px;
  height: 100%;
  border: 3px solid gray;
  border-radius: 25px;
  background-color: white;
}

.flash-card-entry-question {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
}

.flash-card-entry-question input {
  width: 350px;
  height: 35px;
  border-radius: 8px;
}

.flash-card-entry-answer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
}

.flash-card-entry-answer input {
  width: 200px;
  height: 35px;
  border-radius: 8px;
}

.flash-card-entry-more-button {
  border: none;
  background-color: transparent;
  scale: 1.2;
  color: rgb(76, 76, 76);
}

.add-button-div {
  display: flex;
  justify-content: end;
  padding: 20px;
}

.add-button {
  color: rgb(255, 255, 255);
  background-color: rgb(36, 205, 55);
}

.add-button:hover {
  background-color: rgb(28, 161, 44);
}

.save-button-div {
  position: fixed;
  right: 20px;
  bottom: 50px;
}

.save-button {
  color: rgb(227, 227, 227);
  pointer-events: none;
  background-color: rgb(135, 195, 255);
}

.save-button.active {
  color: rgb(255, 255, 255);
  background-color: rgb(38, 146, 253);
  pointer-events: all;
}

.save-button.active:hover {
  background-color: rgb(28, 115, 201);
}