/* Flash card quizzes */

.quizzes-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.flash-card-quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  padding-bottom: 30px;
  margin: 30px 0 30px 0;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.flash-card-quiz-container hr {
  width: 90%;
}

.page-top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: 120px;
  padding-left: 20px;
}

.flash-card-quiz-entry {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flash-card-quiz-more-button {
  border: none;
  background-color: transparent;
  color: rgb(89, 89, 89);
}

.flash-card-quiz-more-button svg {
  font-size: 45px;
}

.flash-card-quiz-card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 5px rgb(172, 172, 172) solid;
  border-radius: 25px;
  width: 900px;
  height: 125px;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px 20px 10px 0;
  overflow: hidden;
  background-color: white;

  transform-origin: right center;
  transition: transform 0.2s ease-in-out;
}

.num-of-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding: 7px;
  font-weight: bold;
}

.num-of-cards svg {
  font-size: 25px;
}

.flash-card-quiz-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.flash-card-quiz-card.show-options {
  transform: translateX(-200px);
}

.flash-card-quiz-card:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

.flash-card-quiz-title {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 120px;
  font-size: 25px;
  margin-left: 20px;
  max-width: 450px;
}

.flash-card-quiz-description {
  display: flex;
  align-items: center;
  height: 100%;
  width: 500px;
  box-sizing: border-box;
}

.flash-card-quiz-description p {
  font-size: 18px;
  color: rgb(124, 124, 124);
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flash-card-quiz-options {
  position: absolute;
  top: 10px;
  right: 65px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 250px;
  height: 125px;
  box-sizing: border-box;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 0;
  background-color: gray;
}

.flash-card-quiz-options:hover {
  cursor: pointer;
}

.flash-card-quiz-options svg {
  font-size: 35px;
  color: white;
}

.flash-card-quiz-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  background-color: gray;
}

.flash-card-quiz-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  background-color: red;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.flash-card-quiz-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
}

.flash-card-quiz-popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 800px;
  height: 750px;
  border: 3px solid gray;
  border-radius: 25px;
  box-sizing: border-box;
}

.flash-card-quiz-popup-content h1 {
  font-size: 60px;
  margin-left: 50px;
  font-weight: 550;
}

.input-name, 
.input-description {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: 50px;
  font-weight: 500;
  margin: 45px;
  position: relative;
}
.flash-card-quiz-popup-content .input-name input {
  width: 400px;
  height: 50px;
  font-size: 25px;
  border: 2px solid rgb(202, 202, 202);
  border-radius: 8px;
}

.flash-card-quiz-popup-content .input-description textarea {
  justify-content: start;
  align-items: start;
  width: 400px;
  height: 100px;
  font-size: 20px;
  resize: none;
  box-sizing: border-box;
  overflow-wrap: break-word;
  white-space: pre-wrap;

  border: 2px solid rgb(202, 202, 202);
  border-radius: 8px;
}

.flash-card-quiz-popup-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.confirm-delete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.confirm-delete-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 600px;
  height: 400px;
  border: 3px solid gray;
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
}

/* Flash card */

.flash-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flash-card-sidebar {
  position: absolute;
  top: 91px;
  left: -440px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 455px;
}

.flash-card-page-description {
  border: 3px solid gray;
  border-radius: 25px;
  background-color: rgb(226, 226, 226);
  padding: 0 15px 15px 15px;
  margin-bottom: 80px;
  color: rgb(78, 78, 78);
}

.flash-card {
  width: 700px;
  height: 450px;

  transform: translateX(25vw);
  opacity: 0;

  animation: slideInRight 0.1s ease-out forwards;

  user-select: none;
  perspective: 1000px;
}

@keyframes slideInRight {
  from {
    transform: translateX(25vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.flash-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
  border-radius: 25px;
}

.flash-card-inner.flipped {
  transform: rotateX(180deg);
}

.flash-card-front,
.flash-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 3px solid gray;
  border-radius: 25px;
  box-shadow: 3px 3px 10px gray;
}

.flash-card-back {
  transform: rotateX(180deg);
}

.flash-card h3 {
  width: 600px;
  font-size: x-large;
}

.flash-card:hover {
  cursor: pointer;
}

.flash-card-QA-label {
  position: absolute;
  top: 0;
  left: 35px;
  font-size: x-large;
}


.nav-menu {
  display: flex;
  
  align-items: center;
  padding: 10px 20px;
  background-color: #F2F2F2; /* lys grå bakgrunn */
  border-bottom: 0px solid #ddd;
  min-width: 97.5%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-bottom: 20px;
}

.nav-brand a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  margin-right: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}


.nav-links a {
  text-decoration: none;
  color: #333;
  transition: transform 0.2s ease;
  display: inline-block;
}

.nav-links a:hover {
  transform: scale(1.03);
}


.nav-menu {
  display: flex;
  
  align-items: center;
  padding: 10px 20px;
  background-color: #F2F2F2; /* lys grå bakgrunn */
  border-bottom: 0px solid #ddd;
  min-width: 97.5%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-bottom: 20px;
}

.nav-brand a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  margin-right: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}


.nav-links a {
  text-decoration: none;
  color: #333;
  transition: transform 0.2s ease;
  display: inline-block;
}

.nav-links a:hover {
  transform: scale(1.03);
}

.flash-card-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-top: 25px;
  padding: 13px;

  border: 3px solid gray;
  border-radius: 15px;
  background-color: rgb(235, 235, 235);
}

.flash-card-menu-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flash-card-menu p {
  margin: 0 30px 0 30px;
  font-size: 30px;
}

.shuffle-button:hover {
  cursor: pointer;
}

.shuffle-button svg {
  font-size: 30px;
}

.flash-card-menu button svg {
  font-size: 45px;
}

.flash-card-page-info-icon {
  position: absolute;
  bottom: 50px;
  right: 60px;
  padding: 10px;
}

.flash-card-info-card {
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: start;
  border: 2px solid gray;
  border-radius: 30px;
  width: 275px;
  height: 275px;
  user-select: none;

  transition: ease-in-out 0.2s;
  pointer-events: none;
}

.flash-card-page-info-icon svg:hover + .flash-card-info-card {
  opacity: 1;
}

.flash-card-page-info-icon svg {
  font-size: 50px;
  color: rgb(50, 50, 50);
}

.flash-card-info-title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.info-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(65, 65, 65);
}

.key-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
}

.keyboard-key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid gray;
  border-radius: 5px;
}

.keyboard-key svg {
  font-size: 30px;
}

/* Manage Flash Card Quiz */
/* Inspiration taken from Quizlet */

.manage-quiz-container {
  display: flex;

  flex-direction: column;
  width: 900px;

  border-radius: 10px;
  padding: 10px 50px 0px 50px;
  margin: 30px 0 30px 0;

  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.flash-card-quiz-back-btn {
  border: none;
  background-color: transparent;
  font-size: 20px;
  margin-top: 10px;
}

.flash-card-quiz-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  border: 3px solid gray;
  border-radius: 25px;
  width: 900px;
  box-sizing: border-box;
  margin-top: 15px;
  background-color: rgb(247, 247, 247);
}

.flash-card-quiz-details-container button {
  scale: 0.8;
  margin: 15px 15px 10px 0;
}

.flash-card-quiz-details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 600px;
  padding: 10px 40px 10px 40px;
}

.flash-card-quiz-details h1 {
  font-size: 35px;
  font-weight: 500;
}

.flash-card-quiz-details h2 {
  font-size: 25px;
  font-weight: 450;
  color: rgb(83, 83, 83);
}

.flash-card-entry-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 900px;
  max-height: 720px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 3px solid gray;
  border-radius: 25px;
  background-color: rgb(243, 243, 243);
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 50px;
}

.flash-card-entry-container > *:not(:last-child) {
  border-bottom: 2px solid rgb(218, 218, 218);
  
}

.flash-card-entry-container-emtpy {
  font-size: 25px;
  color: rgb(61, 61, 61);
  padding: 21px;
}

.flash-card-entry {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 15px;
}

.flash-card-entry-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 730px;
  height: 100%;
  border: 3px solid gray;
  border-radius: 25px;
  background-color: rgb(250, 250, 250);
}

.flash-card-entry-question {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 8px;
  align-items: center;
  width: 450px;
  position: relative;
  margin-left: 10px;
}

.flash-card-entry-question input {
  width: 325px;
  height: 35px;
  border-radius: 8px;
}

.flash-card-entry-answer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  align-items: center;
  width: 350px;
  position: relative;
}

.flash-card-entry-question span,
.flash-card-entry-answer span {
  font-size: 15px;
  margin-left: 90px;
}

.flash-card-entry-question span {
  margin-left: 85px;
}

.flash-card-entry-answer input {
  width: 200px;
  height: 35px;
  border-radius: 8px;
}

.flash-card-entry-delete-button {
  border: none;
  background-color: transparent;
  scale: 1.2;
  color: rgb(255, 0, 0);
}

.manage-buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 20px;
}

.update-flash-card-quiz-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
}

.flash-card-quiz-update {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 800px;
  height: 600px;
  border: 3px solid gray;
  border-radius: 25px;
  background-color: white;
}

.flash-card-quiz-update h1 {
  font-size: 35px;
  font-weight: 450px;
}

.flash-card-quiz-update-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.flash-card-quiz-update-inputs label {
  font-size: 25px;
}

.flash-card-quiz-update input {
  border: 2px solid rgb(202, 202, 202);
  border-radius: 8px;

  font-size: 28px;
  font-weight: 400;

  height: 60px;
  width: 492px;
  margin-bottom: 10px;
}

.flash-card-quiz-update textarea {
  border: 2px solid rgb(202, 202, 202);
  border-radius: 8px;
  height: 200px;
  width: 500px; 

  font-size: 25px;
  font-weight: 400;
  color: rgb(83, 83, 83);
  resize: none;
  box-sizing: border-box;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.play-quiz-container {
  position: fixed;
  bottom: 25px;
  right: 25px;
} 