.ranking-card-wrapper {
  min-width: 30rem;
  max-width: 40rem;
  min-height: 25rem;
  max-height: 40rem;
  position: relative;
  border: solid 0px black;
  border-radius: 10px;
  font-size: 20px;
  margin: auto;
  padding: 20px;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.ranking-card-next-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color:#1E90FF;
  border-radius: 5px;
  padding: 7px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  border: solid 0px #1E90FF;
}

/*__Ranking Manage Form__*/
.ranking-manage-form-wrapper{
  width: 100%;
  height: auto;
  text-align: left;
}
.ranking-manage-form-input-wrapper{
  position: relative;
  width: 100%; /* juster etter behov */
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.ranking-manage-form-questiontext{
  min-width: 350px;
  max-width: 100%;
  padding: 12px 8px 8px 8px; /* litt plass til label */
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 15px;
}
.ranking-manage-form-label{
  position: absolute;
  top: 0;
  left: 10px;
  padding: 0 4px;
  background: white;
  font-size: 12px;
  color: #555;
  transform: translateY(-50%);
  pointer-events: none; /* label blokkerer ikke input */
}
.ranking-manage-form-question-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;         /* Viktig: tillater flere linjer */
  gap: 1rem;               /* Avstand mellom items */
  row-gap: 2rem;
}
.ranking-manage-form-question-wrapper{
  width: auto;
  position: relative;
}
.ranking-manage-form-question-input{
  min-width: 100px;
  max-width: 100px;
  padding: 12px 50px 8px 8px; /* litt plass til label */
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 15px;
}
.ranking-manage-form-right-arrow{
  width: 11px;
  height: 11px;
  position: absolute;
  top: 50%;
  right: -19px;
  padding: 0 4px;
  background: transparent;
  font-size: 12px;
  color: #555;
  transform: translateY(-50%);
  pointer-events: none; /* label blokkerer ikke input */
}
.ranking-manage-form-bin{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  padding: 0 4px;
  background: white;
  font-size: 12px;
  color: #555;
  transform: translateY(-50%);
  cursor: pointer;
}
.ranking-manage-form-btn-add{
  background-color:#1E90FF;
  border-radius: 5px;
  padding: 7px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  border: solid 0px #1E90FF;
  margin-top: 2rem;
}