.fill-in-the-blank-container {
  border: 2px solid gray;
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
  width: 640px;
}

.fill-in-the-blank-container input {
  height: 30px;
  width: 300px;
  border: 2px solid rgb(169, 169, 169);
  border-radius: 8px;
  font-size: 17px;
  padding-left: 5px;
}

.fill-in-the-blank-edit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  margin: 10px;
  width: 600px;
}

.fill-in-the-blank-edit-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fill-in-the-blank-edit-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fill-in-the-blank-edit-inputs label {
  font-size: 20px;
}

.fill-in-the-blank-edit-inputs input {
  border: 2px solid rgb(169, 169, 169);
  border-radius: 8px;
  height: 30px;
  width: 300px;
  font-size: 17px;
}

.fill-in-the-blank-edit-input-block {
  display: flex;
  flex-direction: column;
}

/* Search bar */

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 400px;
  height: 50px;
  border: 2px solid gray;
  border-radius: 30px;
  padding: 0 10px 0 10px;
  overflow: hidden;
}

.search-bar input {
  border: none;
  height: 100%;
  width: 100%;
}