.matching-card-wrapper {
  min-width: 40rem;
  max-width: 40rem;
  min-height: 25rem;
  max-height: 40rem;
  position: relative;
  border: 2px solid gray;
  border-radius: 25px;
  font-size: 20px;
  margin: auto;
  margin-bottom: 10px;
  padding: 20px;
  /*box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;*/
}
.matching-table-wrapper {
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 50px;
}
.matching-table {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  border-collapse: separate;
  border-spacing: 0 20px;
}
.matching-table-tr{
  margin-bottom: 100px;
}
.matching-table-keys-td {
  text-align: left;
}
.matching-table-values-td {
  text-align: right;
}
.matching-card-next-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color:#1E90FF;
  border-radius: 5px;
  padding: 7px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  border: solid 0px #1E90FF;
}

/*__Matching Manage Form__*/
.matching-manage-form-wrapper{
  width: 100%;
  height: auto;
  text-align: left;
}
.matching-manage-form-input-wrapper{
  position: relative;
  width: 100%; 
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.matching-manage-form-questiontext{
  min-width: 350px;
  max-width: 100%;
  padding: 12px 8px 8px 8px; 
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 15px;
}
.matching-manage-form-label{
  position: absolute;
  top: 0;
  left: 10px;
  padding: 0 4px;
  background: white;
  font-size: 12px;
  color: #555;
  transform: translateY(-50%);
  pointer-events: none;
}
.matching-manage-form-question-container{
  display: flex;
  width: 60%;
  flex-direction: column;
  flex-wrap: wrap;   
  gap: 0rem;            
  row-gap: 2rem;
}
.matching-manage-form-question-wrapper{
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
}
.matching-manage-form-question-input{
  min-width: 100px;
  max-width: 100px;
  padding: 12px 50px 8px 8px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 15px;
}
.matching-manage-form-right-arrow{
  width: 11px;
  height: 11px;
  padding: 0 4px;
  background: transparent;
  font-size: 12px;
  color: #555;
  pointer-events: none;
}
.matching-manage-form-bin{
  width: 20px;
  height: 20px;
  padding: 0 4px;
  background: white;
  font-size: 12px;
  color: #555;
  cursor: pointer;
}
.matching-manage-form-btn-add{
  background-color:#1E90FF;
  border-radius: 5px;
  padding: 7px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  border: solid 0px #1E90FF;
  margin-top: 2rem;
}