/* MultipleChoiceQuizPage */
.mc-quiz-wrapper {
  display: flex;
  justify-content: center;
}

.mc-card {
  width: 600px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.multiple-choice-options {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.mc-option {
  font-size: 1.1rem;
  cursor: pointer;
}

.mc-next-btn {
  margin-top: 25px;
  padding: 12px 20px;
  border: none;
  background: #4a7afe;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

/* MultipleChoiceManageForm */
.multiplechoice-manage-form-wrapper {
  width: 100%;
  height: auto;
  text-align: left;
  margin-top: 1rem;
}

.multiplechoice-manage-form-input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.multiplechoice-manage-form-questiontext {
  min-width: 350px;
  max-width: 100%;
  padding: 12px 8px 8px 8px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 15px;
}

.multiplechoice-manage-form-label {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 0 4px;
  background: white;
  font-size: 12px;
  color: #555;
  transform: translateY(-50%);
  pointer-events: none;
}

.multiplechoice-manage-form-options-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 2rem;
}

.multiplechoice-manage-form-option-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.multiplechoice-manage-form-option-input {
  min-width: 180px;
  padding: 10px 8px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 15px;
}

.multiplechoice-manage-form-option-correct-radio {
  margin-left: 6px;
  cursor: pointer;
}

.multiplechoice-manage-form-delete-btn {
    width: 32px;
    height: 32px;
    border: none;
    background: #ff4d4d;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease;
    padding: 0;
}

.multiplechoice-manage-form-delete-btn:hover {
    background: #e63939;
    transform: scale(1.05);
}

.multiplechoice-manage-form-delete-btn img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    pointer-events: none;
}

.multiplechoice-manage-form-btn-add {
  background-color: #1E90FF;
  border-radius: 5px;
  padding: 7px 12px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  border: solid 0px #1E90FF;
  margin-top: 2rem;
}
