button{
    transition: transform 0.2s ease;
}
button:hover{
    transform: scale(1.1);
}

.quiz-back-btn{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: large;
    transition: transform 0.2s ease;
    cursor: pointer;
}
.quiz-back-btn:hover{
    transform: scale(1.2);
    color: red;
}


/*__Quizzes page__*/
.quizzes-wrapper{
    min-width: 40rem;
    max-width: 50rem;
    min-height: auto;
    max-height: none;
    position: relative;
    border: solid 0px black;
    border-radius: 10px;
    font-size: 17px;
    text-align: left;
    margin: auto;
    margin-top: 50px;
    padding: 40px;
    box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.quiz-cards-container{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    position: relative;
}

.quiz-entry {
    display: flex;
    position: relative;
    width: 100%;
}

.quiz-more-button {
    border: none;
    background-color: transparent;
    color: rgb(89, 89, 89);
}

.quiz-more-button svg {
    font-size: 30px;
}

.quiz-create{
    margin: auto;
    margin-top: 20px;
    background-color:#1E90FF;
    border-radius: 5px;
    padding: 7px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border: solid 0px #1E90FF;
    position: absolute;
    top: 60px;
    right: 60px;
}
.quiz-card-box{
    width: 100%;
    box-sizing: border-box;
    min-height: 10rem;
    max-height: 10rem;
    border: solid 1px lightgray;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    text-align: left;
    position: relative;

    z-index: 1;

    transform-origin: right center;
    transition: transform 0.2s ease-in-out;
}

.quiz-card-box:hover {
    cursor: pointer;
    filter: brightness(0.95);
}

.quiz-card-box.show-options {
    transform: translateX(-200px);
}

.quiz-options {
    position: absolute;
    top: 0px;
    right: 39px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 250px;
    height: 10rem;
    box-sizing: border-box;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 0;
    background-color: gray;
}

.quiz-options:hover {
    cursor: pointer;
}

.quiz-options svg {
    font-size: 25px;
    color: white;
}

.quiz-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    background-color: gray;
}

.quiz-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    background-color: red;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.quiz-card-name{
    font-weight: bold;
    font-size: 19px;
    position: absolute;
    top: 0px;
}
.quiz-card-desc{
    width: 75%;
    position: absolute;
    bottom: 0px;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.quiz-card-num-questions{
    position: absolute;
    top: 0px;
    right: 20px;
}
.quiz-card-buttons{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.quiz-card-btn-open{
    float: right;
    margin-left: 5px;
    background-color:#1E90FF;
    border-radius: 5px;
    padding: 7px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border: solid 0px #1E90FF;
}
.quiz-card-btn-manage{
    float: right;
    background-color:grey;
    border-radius: 5px;
    padding: 7px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border: solid 0px grey;
}

/*__Create page__*/
.quiz-create-wrapper{
    min-width: 40rem;
    max-width: 50rem;
    min-height: auto;
    max-height: none;
    position: relative;
    border: solid 0px black;
    border-radius: 10px;
    font-size: 17px;
    margin: auto;
    margin-top: 50px;
    padding: 40px;
    box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.quiz-create-input-wrapper {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem; /* vertikalt mellomrom mellom feltene */
  margin-bottom: 50px;
  margin-top: 20px;
}

.quiz-create-input-name,
.quiz-create-input-desc {
  display: flex;
  position: relative;
  align-items: center; /* label og input på linje */
  gap: 1rem;         /* mellomrom mellom label og input */
}

.quiz-create-input-name label,
.quiz-create-input-desc label {
  width: 100px; /* fast bredde gir lik justering */
  text-align: right;
}

.quiz-create-input-name input,
.quiz-create-input-desc textarea {
  flex: 1;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid grey;
  width: 120px;
  font-size: 15px;
}

.quiz-create-input-desc textarea {
    resize: none;
    box-sizing: border-box;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    height: 75px;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.quiz-create-input-name span,
.quiz-create-input-desc span {
    font-size: 15px;
    padding-left: 120px;
}

.quiz-create-btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color:#1E90FF;
    border-radius: 5px;
    padding: 7px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border: solid 0px #1E90FF;
}

/*__Quiz Manage__*/
.quiz-manage-wrapper{
    min-width: 40rem;
    max-width: 50rem;
    min-height: auto;
    max-height: none;
    position: relative;
    border: solid 0px black;
    border-radius: 10px;
    font-size: 17px;
    text-align: left;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.quiz-manage-header{
    width: 100%;
    height: auto;
    position: relative;
}
.quiz-manage-num-questions{
    position: absolute;
    top: -20px;
    right: 10px;
}
.quiz-manage-header-btn-add{
    position: absolute;
    bottom: 50px;
    right: 10px;
    background-color:#1E90FF;
    border-radius: 5px;
    padding: 7px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border: solid 0px #1E90FF;
}
.quiz-manage-header-select{
    position: absolute;
    bottom: 50px;
    right: 140px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #F2F2F2;
    padding: 6px;
    cursor: pointer;
    font-size: 15px;
}
.quiz-manage-btn-save{
    position: fixed;
    top: 5rem;
    right: 2rem;
    background-color:#32CD32;
    border-radius: 5px;
    padding: 7px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border: solid 0px #32CD32;
}
.quiz-manage-description{
    position: absolute;
    top: 30px;
    left: 0px;
}
.quiz-manage-question-container{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    position: relative;
    gap: 20px;
}
.quiz-manage-question-wrapper{
    width: 100%;
    box-sizing: border-box;
    height: auto;
    border: solid 1px lightgray;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    text-align: left;
    position: relative;
}
.quiz-manage-question-info-wrapper{
    width: 100%;
    height: 4rem;
    position: relative;
}
.quiz-manage-question-num{
    position: absolute;
    top: 0px;
    left: 20px;
}
.quiz-manage-question-text{
    padding-left: 20px;
    font-weight: 450;
}
.quiz-manage-question-edit-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color:grey;
    border-radius: 5px;
    padding: 7px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border: solid 0px grey;
}
.quiz-manage-question-delete-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    margin-left: 5px;
    background-color:red;
    border-radius: 5px;
    padding: 7px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border: solid 0px red;
}
.quiz-manage-question-add-btn{
    position: absolute;
    bottom: 40px;
    right: 20px;
    background-color: #1E90FF;
    border-radius: 5px;
    padding: 7px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border: solid 0px #1E90FF;
}

.quiz-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 800px;
    border-radius: 25px;
    box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}