.matching-card-wrapper {
  min-width: 30rem;
  max-width: 40rem;
  min-height: 25rem;
  max-height: 40rem;
  position: relative;
  border: solid 0px black;
  border-radius: 10px;
  font-size: 20px;
  margin: auto;
  padding: 20px;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.matching-table-wrapper {
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 50px;
}
.matching-table {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.matching-table-keys {
  text-align: left;
  float: left;
}
.matching-table-values {
  text-align: right;
  float: right;
}
.matching-table-keys-tr {
  margin-bottom: 40px;
}
.matching-table-values-tr {
  margin-bottom: 40px;
}
.matching-card-next-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
