.home-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 1100px;
    height: 1000px;
    border-radius: 10px;
    margin: 30px 0 50px 0;
    box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.home-page-quizzes-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.home-page-quizzes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    border: 2px solid lightgray;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.home-page-quizzes-container hr {
    width: 85%;
}

.flash-card-display-container {
    border: 1px solid gray;

}