.tf-manage-form-wrapper{
  width: 100%;
  height: auto;
  text-align: left;
  margin-top: 1rem;
}

.tf-manage-form-input-wrapper{
  position: relative;
  margin-bottom: 1.5rem;
}

.tf-manage-form-questiontext{
  min-width: 350px;
  max-width: 100%;
  padding: 12px 8px 8px 8px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 15px;
}

.tf-manage-form-label{
  position: absolute;
  top: 0;
  left: 10px;
  padding: 0 4px;
  background: white;
  font-size: 12px;
  color: #555;
  transform: translateY(-50%);
}

.tf-manage-form-answer-container{
  display: flex;
  gap: 1rem;
}

.tf-answer-btn{
  min-width: 100px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid grey;
  cursor: pointer;
  background: white;
}

.tf-active{
  background-color: #1E90FF;
  color: white;
  border: 1px solid #1E90FF;
}
