@model QuizApp.Models.Question
@{
    ViewData["Title"] = "Create Question";
}

<h2>Lag nytt spørsmål</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Spørsmål:</label>
        <input asp-for="Text" />
    </div>
    <div>
        <label>Flere riktige svar?</label>
        <input asp-for="AllowMultiple" type="checkbox" />
    </div>

    <h4>Alternativer:</h4>
    <div id="options">
        <input type="text" name="optionTexts" placeholder="Svar 1" />
        <input type="checkbox" name="correctOptionIndexes" value="0" /> Riktig?<br/>
        <input type="text" name="optionTexts" placeholder="Svar 2" />
        <input type="checkbox" name="correctOptionIndexes" value="1" /> Riktig?<br/>
    </div>

    <button type="submit">Lagre</button>
</form>