@model List<QuizApp.Models.MultipleChoice>
<p>Antall spørsmål: @Model?.Count()</p> // Viser om det er spørsmål i databasen


<h2>Quiz</h2>

<form asp-action="Submit" method="post">
@foreach (var q in Model)
{
    <div>
        <h4>@q.QuestionText</h4>
        @foreach (var opt in q.Options)
        {
            <div>
                <input type="checkbox" name="answers[@q.Id][]" value="@opt.Text" />
                <label>@opt.Text</label>
            </div>
        }
    </div>
    <hr />
}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>