@using QuizApp.ViewModels
@model QuizResultViewModel

<h1>Results</h1>

@{
    var questions = Model.Quiz.AllQuestions;
    var attempts = Model.QuizAttempt.AllQuestionAttempts;
}

<div>
    @for (int i = 0; i < questions.Count(); i++) 
    {
        var question = questions.ElementAt(i);
        var attempt = attempts.ElementAt(i);

        if (question is FillInTheBlank fib && attempt is FillInTheBlankAttempt fibAttempt) {
            <partial name="_FillInTheBlankResult" model="(fib, fibAttempt)" />
        }
        if (question is TrueFalse tf && attempt is TrueFalseAttempt tfAttempt) {
            <partial name="_TrueFalseResult" model="(tf, tfAttempt)" />
        }
        if (question is MultipleChoice mc && attempt is MultipleChoiceAttempt mcAttempt) {
            <partial name="_MultipleChoiceResult" model="(mc, mcAttempt)" />
        }
        if (question is Matching m && attempt is MatchingAttempt mAttempt){
            <partial name="_MatchingResult" model="(m, mAttempt)" />
        }
        if (question is Sequence s && attempt is SequenceAttempt sAttempt){
            <partial name="_SequenceResult" model="(s, sAttempt)" />
        }
        if (question is Ranking r && attempt is RankingAttempt rAttempt){
            <partial name="_RankingResult" model="(r, rAttempt)" />
        }
    }
</div>